*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf) format('ttf');
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 1.8rem 1.5rem;

  a {
    img {
      width: 200px;
      cursor: pointer;
    }
  }

  .sign__in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    gap: 10px;
    font-weight: 600;

    a {
      color: #2C3E50;
      cursor: pointer;
      text-decoration: none;
    }

    .user, .logout {
      display: flex;
      align-items: center;
      width: max-content;
      gap: .2rem;
      font-size: .9rem;

      img {
        width: 16px;
      }
    }

    .login {
      display: flex;
      align-items: center;
      width: max-content;
      gap: .2rem;
      font-size: .9rem;

      img {
        width: 16px;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;

  .cover {
    width: 100%;
    height: 400px;
    background-image: url(../assets//bank-tree.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .cover__content {
      position: absolute;
      width: 350px;
      background-color: #ffffff;
      font-size: 1.5rem;
      right: 4%;
      bottom: 100px;
      padding: 2rem;

      .bold__text__cover {
        font-weight: 600;
      }

      .normal__text__cover {
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: 0 auto;
    padding: 3rem .5rem 0 .5rem;
    margin-bottom: 3rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 550px;

      .content__img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: #00BC77 10px solid;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100px;
        }
      }

      h2 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }

  .login {
    display: flex;
    justify-content: center;
    height: calc(100vh - 170px);
    background-color: #12002B;
  }

  .login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 370px;
    background-color: #ffffff;
    padding: 2rem;
    margin-top: 3rem;
    gap: 1rem;

    img {
      width: 20px;
    }

    p {
      font-weight: 600;
      font-size: 1.3rem
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        margin-bottom: 1rem;
        width: 230px;
        height: 35px;
      }

      .login__button {
        background-color: #00BC77;
        color: #ffffff;
        font-weight: 600;
        border: none;
        padding: .5rem;
        margin-top: 1rem;
        cursor: pointer;
      }

      .login__label {
        font-weight: 600;
      }

      .password__label {
        font-weight: 600;
      }

      .login__remember {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: .9rem;

        input {
          margin: 0;
          width: 15px;
          height: 15px;
        }
      }
    }

    .login__error {
      display: flex;
      align-items: center;
      justify-content: center;
      color: red;

      p {
        font-size: .8rem;
        font-weight: 600;
      }
    }
  }

  .welcome_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 170px);
    background-color: #12002B;

    a {
      text-decoration: none;
    }
  }

  .welcome_message {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-top: 1rem;
    text-align: center;
  }

  .transactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: #ffffff;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .balance {
    font-weight: 600;
    font-size: 2rem;
  }

  .view_transactions {
    background-color: #00BC77;
    color: #ffffff;
    font-weight: 600;
    padding: .5rem;
    cursor: pointer;
  }

  .edit_name {
    width: max-content;
    height: max-content;
    margin: .6rem auto;
    padding: .5rem;
    font-size: .5rem;
    font-weight: 600;
    background-color: #00BC77;
    color: #ffffff;
    cursor: pointer;
  }

  .profile_welcome_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 170px);
    background-color: #E0E6ED;

    .profile_welcome {
      font-size: 1.5rem;
      font-weight: 600;
      color: #000000;
      margin: 1.5rem auto;
      text-align: center;
    }

    .profile_input {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      input {
        width: 200px;
        height: 35px;
        border: #C1CDD8 2px solid;
        border-radius: 3px;
      }
    }

    .profile_button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      color: #6458F5;
      font-weight: 600;
      font-size: .9rem;
      padding: .5rem 1.5rem;
      margin-bottom: 2rem;

      a {
        text-decoration: none;
        color: #6458F5;
      }

      p {
        width: 100px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 3px;
        border: #6458F5 2px solid;
        padding: .5rem 1rem;
        cursor: pointer;
      }
    }

    .profile_transactions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      background-color: #ffffff;
      margin-bottom: 2rem;
      padding: 1rem;
      border: #C1CDD8 2px solid;

      .profile_bank_account {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .5rem;
        font-size: .9rem;

        .profile_balance {
          font-weight: 600;
          font-size: 1.5rem;
        }
      }

      .profile_view_transactions {
        background-color: #6458F5;
        color: #ffffff;
        border-radius: 3px;
        font-weight: 600;
        padding: .5rem;
        cursor: pointer;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 3rem;
  border-top: #CCCCCC 1px solid;
}

.error {
  h1 {
    font-size: 6rem;
    font-weight: 600;
    color: #00BC77;
    margin: 3rem 0;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 920px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 1.8rem 1.5rem;

    img {
      width: 150px;
    }

    .sign__in {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;

      img {
        width: 25px;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;

    .cover {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
      background-image: url(../assets//bank-tree.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .cover__content {
        width: 250px;
        background-color: #ffffff;
        font-size: 1rem;
        padding: 1rem;
        right: auto;
        bottom: auto;

        .bold__text__cover {
          font-weight: 600;
        }

        .normal__text__cover {
          font-size: .9rem;
          margin-top: 1rem;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 0 auto;
      padding-top: 3rem;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        padding: 1rem;

        .content__img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: #00BC77 10px solid;
          margin-bottom: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100px;
          }
        }


        h2 {
          font-size: 1.3rem;
          font-weight: 600;
          margin-bottom: 1rem;
          text-align: center;
        }

        p {
          text-align: center;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    height: 40px;
    padding: 1rem;
    margin-top: 3rem;
    border-top: #CCCCCC 1px solid;
  }

}

@media screen and (max-width: 600px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 1rem .5rem;

    img {
      width: 120px;
      cursor: pointer;
    }

    .sign__in {
      width: max-content;

      img {
        width: 20px;
      }

      .user, .logout {
        font-size: .7rem;
      }
    }
  }

  main {

    .transactions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      background-color: #ffffff;
      margin-bottom: 2rem;
      padding: 1rem;
    }

    .bank_account {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: .5rem;
      font-size: .8rem;

      .balance {
        font-weight: 600;
        font-size: 1.5rem;
      }
    }


    .view_transactions {
      background-color: #00BC77;
      color: #ffffff;
      font-weight: 600;
      font-size: .9rem;
      padding: .5rem;
      cursor: pointer;
    }

    .profile_welcome_content {
      padding: 0 .5rem;
      height: auto;

      .profile_input {
        input {
          width: 140px;
          height: 35px;
          border: #C1CDD8 2px solid;
          border-radius: 3px;
        }
      }

      .profile_button {
        p {
          width: 80px;
          text-align: center;
          background-color: #ffffff;
          border-radius: 3px;
          border: #6458F5 2px solid;
          padding: .5rem .5rem;
          cursor: pointer;
        }
      }

      .profile_transactions {
        display: flex;
        flex-direction: column;

        .profile_bank_account {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: .5rem;
          font-size: .8rem;

          .profile_balance {
            font-weight: 600;
            font-size: 1.3rem;
          }
        }

        .profile_view_transactions {
          font-size: .9rem;
        }
      }
    }
  }

  footer {
    margin-top: auto;
  }
}